__pycache__
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
.env
pip-log.txt
pip-delete-this-directory.txt
.git
Dockerfile
server/upscaler.py
server/Dockerfile
server/models/
server/venv/

# Exclude development dependencies
client/node_modules
client/npm-debug.log

# Exclude production dependencies
client/package-lock.json

# Exclude build artifacts
client/build

client/.next

client/.env
